.env
.vs
obj
Sandbox
*.user
*.suo
.idea

# Git makes this more complicated than I would like
*/bin/**
!SLHBot/bin/*
!SLHBot/bin/*/html/
!SLHBot/bin/*/html/**

# Python
.venv
.pyc
__pycache__

# This is what version control is for
.ipynb_checkpoints

# SLHStudio
SLHStudio/img_cache
SLHStudio/config.json

# OpenMetaverse/LibreMetaverse
openmetaverse_data